<html>

<head>
	<meta charset="UTF-8">
	<title>Realizar uma doação</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
	<div class="container mt-4">
		<div class="row">
			<div style="background-color: #E9ECEF" class="col-md-8 col-sm-8 container justify-content-center card">
				<h1 style="text-align: center">Realizar Doação</h1>
				<div class="card-body">
					<form class="row g-3" #f="ngForm">
						<div class="col-md-6">
							<label class="form-label">Doador</label>
							<input type="text" name="id_doador" [(ngModel)]="doacao.id_doador" id="id_doador" required #idDoador="ngModel" class="form-control"
								placeholder="Doador"><div *ngIf="!idDoador.valid && idDoador.touched" class="alert alert-danger">Id Doador é obrigatório</div>
						</div>
						<div class="col-md-6">
							<label class="form-label">ONG</label>
							<input type="text" name="id_ong" [(ngModel)]="doacao.id_ong" id="id_ong" required #idOng="ngModel" class="form-control"
								placeholder="Ong"><div *ngIf="!idOng.valid && idOng.touched" class="alert alert-danger">Id Ong é obrigatório</div>
						</div>
						<div class="col-md-6">
							<label class="form-label">Categoria</label>
							<input type="text" name="id_categoria" [(ngModel)]="doacao.id_categoria" id="id_categoria" required #categoria="ngModel" class="form-control"
								placeholder="Categoria"><div *ngIf="!categoria.valid && categoria.touched" class="alert alert-danger">Id Categoria é obrigatório</div>
						</div>
						<div class="col-md-6">
							<label class="form-label">Item</label>
							<input type="text" name="tipoItem" [(ngModel)]="doacao.tipoItem" id="tipoItem" required #item="ngModel" class="form-control"
								placeholder="Item"><div *ngIf="!item.valid && item.touched" class="alert alert-danger">Item é obrigatório</div>
						</div>
							<div class="col-6">
								<label for="quantidadeItem" class="form-label">Quantidade</label>
								<input type="text" name="quantidadeItem" [(ngModel)]="doacao.quantidadeItem" id="quantidadeItem" required #quantidade="ngModel" class="form-control"
                 placeholder="Quantidade"><div *ngIf="!quantidade.valid && quantidade.touched" class="alert alert-danger">Quantidade é obrigatório</div>
							</div>
							<div class="col-6">
								<label for="modalidade" class="form-label">Modalidade</label>
								<input type="" name="modalidade" [(ngModel)]="doacao.modalidade" id="modalidade" required #modalidade="ngModel" class="form-control"
                 placeholder="Presencial"><div *ngIf="!modalidade.valid && modalidade.touched" class="alert alert-danger">Modalidade é obrigatório</div>
							</div>
						<div class="col-12">
							<button type="submit" [disabled]="!f.valid" (click)="cadastrarDoacao()" class="btn btn-dark">Confirmar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
