<div id="layoutSidenav_nav">
  <nav style="height: 733px" class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
          <div class="nav">
              <a class="nav-link" href=''><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Home</a>
              <div class="sb-sidenav-menu-heading">Cadastro</div>
              <a class="nav-link collapsed" href='/doador' data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                  <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>Doador</a>
              <a class="nav-link collapsed" href='/donatario' data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                  <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>Donatário</a>
              <a class="nav-link collapsed" href='/ong' data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                  <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>ONG</a>
              <div class="sb-sidenav-menu-heading">Tem Cadastro?</div>
              <a class="nav-link collapsed" href='/doacao' data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                  <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>Doar</a>
              <a class="nav-link collapsed" href='/solicitacao' data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                  <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>Solicitar</a>
              <br><br><br><br><br><br><br><br><br><br><br>
              <a class="nav-link mt-3" href='/admin' data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Admin</a>
            </div>
        </div>
    </nav>
</div>
